.section4{
    padding: 100px 0px;
    .container{
    .s4yazi{
            text-align: center;
            font-family: $font-family2;
            .s4p2{
                font-size: 40px;
                color: $font-colorhover;
            }
    }
    .s4image{
          .col-3{
            width: 33%;
            height: auto;
          }
    }
}
}