.hisse1{
    display: flex;
    align-items: center;
    width: calc(100% / 1);
    .icon{
        font-size: 120px;
        &:hover{
            color: $font-colorhover;
            animation: icon 1 linear 1;
            @keyframes icon {
                0%{
                    transform: rotate(0deg);
                    left: 0%;
                   }
                   100%{
                    transform: rotate(0deg);
                    left: 100%;
                   }
            }
        }
    }
    .text{
        width: 230px;
    }
}
.hisse2{
    width: calc(100% / 1);
    .icon{
        font-size: 120px;
    }
    .text{
        width: 230px;
        text-align: center;
    }
}
.hisse3{
    width: calc(100% / 1);
    display: flex;
    align-items: center;
    .icon{
        font-size: 120px;
    }
    .text{
        width: 300px;
       text-align: right;
    }
}