@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import 'partials/variables';
@import 'partials/header';
@import 'partials/section1';
@import 'partials/section2';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 0 10%;
    .headerm{
       list-style: none;
       li{
          display: inline-block;
          a{
            text-decoration: none;
          }
       }
    }
}
.row{
    display: flex;
    align-items: center;
}
.loqo{
    background-color: black;
}