@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import 'partials/variables';
@import 'partials/header';
@import 'partials/section1';
@import 'partials/section2';
@import 'partials/section3';
@import 'partials/section4';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 10%;

    .headerm {
        list-style: none;

        li {
            display: inline-block;

            a {
                text-decoration: none;
            }
        }
    }
}

.row {
    display: flex;
    align-items: center;
}

.loqo {
    background-color: black;
}

.col-6 {
    width: calc(100%/2);
}
.col-3{
    width: calc(100%/4);
}
.col-4{
    width: calc(100%/3);
}