@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
nav {
  padding: 30px 0px;
}

header {
  background-image: url(https://megaone.acrothemes.com/cafe/images/banner-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  text-align: center;
}
header .loqo {
  padding: 15px;
}
header .hed2 {
  width: 80%;
  margin: 150px 10% 30px;
}
header .hed2 h2 {
  background-color: black;
  color: white;
  padding: 10px 0px;
  width: 270px;
  margin-left: 400px;
  font-size: 25px;
  font-family: Arial, sans-serif;
}
header .hed2 h1 {
  background-color: #FF6000;
  padding: 25px;
  font-size: 35px;
  font-family: Arial, sans-serif;
  color: white;
  width: 360px;
  margin-left: 350px;
}
header .but1 {
  background-color: white;
  border: 0px;
  padding: 10px 35px;
  border-radius: 100px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
header .but1:hover {
  background-color: black;
  color: white;
  transition: 1s;
}

.headerm li {
  margin-right: 40px;
}
.headerm li a {
  color: black;
  font-size: 14px;
  font-weight: 600;
  font-family: Arial, sans-serif;
}
.headerm li a:hover {
  color: #FF6000;
}

.container {
  background-color: white;
  justify-content: space-between;
}

.section1 {
  position: relative;
}
.section1 .s1t {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.section1 .s1t .oturaq {
  margin-top: 90px;
  width: 720px;
  margin-bottom: 40px;
}
.section1 .s1t5 {
  position: absolute;
}
.section1 .s1t5 .h1 {
  font-size: 40px;
  font-family: Arial, sans-serif;
  font-weight: 200;
}
.section1 .s1t5 .h2 {
  font-size: 40px;
  font-family: Arial, sans-serif;
  font-weight: 200;
  background-color: #FF6000;
  color: white;
  width: 330px;
}

.hisse1 {
  display: flex;
  align-items: center;
}
.hisse1 .icon {
  font-size: 120px;
}
.hisse1 .icon:hover {
  color: #FF6000;
}
.hisse1 .text {
  width: 290px;
  font-family: "Poppins", sans-serif;
}

.hisse2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.hisse2 .icon {
  font-size: 120px;
}
.hisse2 .text {
  width: 300px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.hisse3 {
  display: flex;
  align-items: center;
}
.hisse3 .icon {
  font-size: 120px;
}
.hisse3 .text {
  width: 380px;
  text-align: right;
  font-family: "Poppins", sans-serif;
}

.section2 {
  margin-top: 90px;
  margin-bottom: 50px;
}
.section2 .container .iconss {
  display: flex;
  justify-content: space-between;
}

.section3 {
  background-color: #FF6000;
  padding: 70px;
}
.section3 .container {
  background-color: #FF6000;
  align-items: center;
}
.section3 .container .s3y1 {
  text-align: center;
}
.section3 .container .s3y1 .sp1 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 100px;
}
.section3 .container .s3y1 .sp2 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
.section3 .container .s3y2 {
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
  width: 38%;
}
.section3 .container .s3y3 {
  text-align: center;
}
.section3 .container .s3y3 .sp1 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 100px;
}
.section3 .container .s3y3 .sp2 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.section4 {
  padding: 100px 0px;
}
.section4 .container .s4yazi {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.section4 .container .s4yazi .s4p2 {
  font-size: 40px;
  color: #FF6000;
}
.section4 .container .s4image .col-3 {
  width: 33%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 10%;
}
.container .headerm {
  list-style: none;
}
.container .headerm li {
  display: inline-block;
}
.container .headerm li a {
  text-decoration: none;
}

.row {
  display: flex;
  align-items: center;
}

.loqo {
  background-color: black;
}

.col-6 {
  width: 50%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}